In [1]:
import os
import sys
sys.path.append(os.path.abspath('.'))
sys.path.append(os.path.abspath(r'./.'))

In [2]:
%pwd

'/home/borela/fontes/exqa-complearning/source/calculation/comparison'

In [3]:
%cd ../../..

/home/borela/fontes/exqa-complearning/source

In [11]:
import pandas as pd

In [6]:
from source.data_related import squad_related

/home/borela/miniconda3/envs/exqa-complearning/lib/python3.7/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Datasets

In [7]:
from source.data_related import rastro_evaluation_qa

In [20]:
squad_dataset_en = squad_related.load_squad_dataset_1_1(parm_language='en')
squad_dataset_pt = squad_related.load_squad_dataset_1_1(parm_language='pt')

Using custom data configuration default-d2cdb99fa46933e9
Reusing dataset json (/home/borela/.cache/huggingface/datasets/json/default-d2cdb99fa46933e9/0.0.0/da492aad5680612e4028e7f6ddc04b1dfcec4b64db470ed7cc5f2bb265b9b6b5)
100%|██████████| 1/1 [00:00<00:00, 793.17it/s]
Using custom data configuration default-61eba6f0d4a86c5d
Reusing dataset json (/home/borela/.cache/huggingface/datasets/json/default-61eba6f0d4a86c5d/0.0.0/da492aad5680612e4028e7f6ddc04b1dfcec4b64db470ed7cc5f2bb265b9b6b5)
100%|██████████| 1/1 [00:00<00:00, 868.93it/s]

In [22]:
squad_dataset_en.df.head(5)

,id,title,context,question,answer_start,answer_text
0,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,"[177, 177, 177]","[Denver Broncos, Denver Broncos, Denver Broncos]"
1,56be4db0acb8001400a502ed,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,"[249, 249, 249]","[Carolina Panthers, Carolina Panthers, Carolin..."
2,56be4db0acb8001400a502ee,Super_Bowl_50,Super Bowl 50 was an American football game to...,Where did Super Bowl 50 take place?,"[403, 355, 355]","[Santa Clara, California, Levi's Stadium, Levi..."
3,56be4db0acb8001400a502ef,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team won Super Bowl 50?,"[177, 177, 177]","[Denver Broncos, Denver Broncos, Denver Broncos]"
4,56be4db0acb8001400a502f0,Super_Bowl_50,Super Bowl 50 was an American football game to...,What color was used to emphasize the 50th anni...,"[488, 488, 521]","[gold, gold, gold]"

## Resultados das avaliações

In [8]:
rastro_eval_qa = rastro_evaluation_qa.RastroEvaluationQa()

In [10]:
rastro_eval_qa.df_evaluation

,cod,name_learning_method,ind_language,name_model,name_device,descr_filter,num_question,datetime_execution,time_execution_total,time_execution_per_question,num_top_k,num_factor_multiply_top_k,num_max_answer_length,num_doc_stride,if_handle_impossible_answer,if_do_sample,val_length_penalty,val_temperature,cod_prompt_format,list_stop_words
0,14,transfer,pt,pierreguillou/bert-large-cased-squad-v1.1-port...,cuda:0,{},10570,2022-07-17 21:54:25,2632,249,3,10.0,80,128.0,0.0,NaN,NaN,NaN,NaN,NaN
1,15,transfer,en,distilbert-base-cased-distilled-squad,cuda:0,{},10570,2022-07-17 22:40:21,2329,220,3,10.0,80,128.0,0.0,NaN,NaN,NaN,NaN,NaN
2,16,transfer,pt,pierreguillou/bert-large-cased-squad-v1.1-port...,cuda:0,{},10570,2022-07-17 23:21:29,2922,276,3,10.0,160,128.0,0.0,NaN,NaN,NaN,NaN,NaN
3,17,transfer,en,distilbert-base-cased-distilled-squad,cuda:0,{},10570,2022-07-18 00:12:43,2331,221,3,10.0,160,128.0,0.0,NaN,NaN,NaN,NaN,NaN
4,18,context,en,EleutherAI/gpt-j-6B,cuda:0,{},10570,2022-07-18 14:36:12,4937,467,3,NaN,80,NaN,NaN,0.0,0.0,0.1,101.0,"['.', '\n', '!']"
5,19,context,en,EleutherAI/gpt-neo-1.3B,cuda:0,{},10570,2022-07-18 20:50:21,4957,469,3,NaN,80,NaN,NaN,0.0,0.0,0.1,101.0,"['.', '\n', '!']"
6,20,context,en,EleutherAI/gpt-neo-1.3B,cuda:0,{},10570,2022-07-18 22:30:31,3801,360,3,NaN,80,NaN,NaN,0.0,0.0,0.1,102.0,"['.', '\n', '!']"
7,21,context,en,EleutherAI/gpt-neo-1.3B,cuda:0,{},10570,2022-07-18 23:35:59,4008,379,3,NaN,80,NaN,NaN,0.0,0.0,0.1,103.0,"['.', '\n', '!']"
8,22,context,en,EleutherAI/gpt-neo-1.3B,cuda:0,{},10570,2022-07-19 00:45:08,4238,401,3,NaN,80,NaN,NaN,0.0,0.0,0.1,104.0,"['.', '\n', '!']"
9,23,context,en,EleutherAI/gpt-neo-2.7B,cuda:0,{},10570,2022-07-19 01:58:26,6005,568,3,NaN,80,NaN,NaN,0.0,0.0,0.1,101.0,"['.', '\n', '!']"
10,24,context,en,EleutherAI/gpt-neo-2.7B,cuda:0,{},10570,2022-07-19 03:41:26,5241,496,3,NaN,80,NaN,NaN,0.0,0.0,0.1,102.0,"['.', '\n', '!']"
11,25,context,en,EleutherAI/gpt-neo-2.7B,cuda:0,{},10570,2022-07-19 05:11:55,5887,557,3,NaN,80,NaN,NaN,0.0,0.0,0.1,103.0,"['.', '\n', '!']"

In [12]:
rastro_eval_qa.df_calculated_metric

    cod_evaluation cod_metric  value
0               14         EM  72.20
1               14         F1  83.17
2               14       EM@3  84.55
3               14       F1@3  89.74
4               15         EM  78.34
5               15         F1  85.94
6               15       EM@3  88.00
7               15       F1@3  91.98
8               16         EM  72.14
9               16         F1  83.10
10              16       EM@3  84.41
11              16       F1@3  89.65
12              17         EM  78.32
13              17         F1  85.92
14              17       EM@3  87.86
15              17       F1@3  91.84
16              18         EM  30.96
17              18         F1  39.49
18              18       EM@3  36.38
19              18       F1@3  47.89
20              19         EM  14.42
21              19         F1  27.38
22              19       EM@3  16.67
23              19       F1@3  32.33
24              20         EM  36.14
25              20         F1  48.80
26              20       EM@3  42.77
27              20       F1@3  57.94
28              21         EM  38.72
29              21         F1  51.42
30              21       EM@3  45.72
31              21       F1@3  60.68
32              22         EM  35.37
33              22         F1  49.02
34              22       EM@3  40.43
35              22       F1@3  56.69
36              23         EM  16.97
37              23         F1  29.38
38              23       EM@3  20.09
39              23       F1@3  35.25
40              24         EM  43.85
41              24         F1  56.93
42              24       EM@3  51.25
43              24       F1@3  66.31
44              25         EM  46.19
45              25         F1  58.52
46              25       EM@3  53.70
47              25       F1@3  68.33

In [15]:
df_eval = pd.merge(left=rastro_eval_qa.df_evaluation, right=rastro_eval_qa.df_calculated_metric , left_on='cod', right_on='cod_evaluation', how='left')

In [16]:
len(df_eval)

48

In [19]:
df_eval.head(4)

,cod,name_learning_method,ind_language,name_model,name_device,descr_filter,num_question,datetime_execution,time_execution_total,time_execution_per_question,...,num_doc_stride,if_handle_impossible_answer,if_do_sample,val_length_penalty,val_temperature,cod_prompt_format,list_stop_words,cod_evaluation,cod_metric,value
0,14,transfer,pt,pierreguillou/bert-large-cased-squad-v1.1-port...,cuda:0,{},10570,2022-07-17 21:54:25,2632,249,...,128.0,0.0,NaN,NaN,NaN,NaN,NaN,14,EM,72.20
1,14,transfer,pt,pierreguillou/bert-large-cased-squad-v1.1-port...,cuda:0,{},10570,2022-07-17 21:54:25,2632,249,...,128.0,0.0,NaN,NaN,NaN,NaN,NaN,14,F1,83.17
2,14,transfer,pt,pierreguillou/bert-large-cased-squad-v1.1-port...,cuda:0,{},10570,2022-07-17 21:54:25,2632,249,...,128.0,0.0,NaN,NaN,NaN,NaN,NaN,14,EM@3,84.55
3,14,transfer,pt,pierreguillou/bert-large-cased-squad-v1.1-port...,cuda:0,{},10570,2022-07-17 21:54:25,2632,249,...,128.0,0.0,NaN,NaN,NaN,NaN,NaN,14,F1@3,89.74

In [23]:
dtype_calculated_metric_per_question = {
    'cod_evaluation':int,
    'cod_question':str,
    'cod_metric':str,
    'value':float,
}

In [24]:
df_eval_per_question = pd.read_csv('data/tab_calculated_metric_per_question.csv', sep = ',',
        header=0,
        dtype= dtype_calculated_metric_per_question,
        index_col=False)

In [25]:
for property_name, property_type in dtype_calculated_metric_per_question.items():
    if property_type in (int, float, bool):
        df_eval_per_question[property_name] = df_eval_per_question[property_name].astype(property_type)

In [26]:
df_eval_per_question.head()

   cod_evaluation              cod_question cod_metric  value
0              14  56be4db0acb8001400a502ec         EM    1.0
1              14  56be4db0acb8001400a502ec         F1    1.0
2              14  56be4db0acb8001400a502ec       EM@3    1.0
3              14  56be4db0acb8001400a502ec       F1@3    1.0
4              14  56be4db0acb8001400a502ed         EM    1.0