## Explore Squad v1.1

In [2]:
import os
import sys
sys.path.append(os.path.abspath('.'))
sys.path.append(os.path.abspath(r'./.'))

In [3]:
%pwd

'/home/borela/fontes/exqa-complearning/source/data_related'

In [4]:
%cd ../..

/home/borela/fontes/exqa-complearning

In [18]:
import pandas as pd

In [ ]:
import importlib
importlib.reload(squad_related)

In [19]:

nome_dataset = 'flatten-dev-v1.1.json'
path_dataset = '/home/borela/fontes/exqa-complearning/data/dataset/squad/'+nome_dataset

## Gerando pandas.Dataframe para an√°lises

In [20]:
# file_name = 'flatten-' + str(squad_dataset_en.file_name)
df_dataset = pd.read_json(path_dataset)

In [23]:
df_dataset = pd.json_normalize(df_dataset['data'])

In [24]:
len(df_dataset)

10570

In [25]:
df_dataset.head()

,id,title,context,question,answer_start,answer_text
0,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,"[177, 177, 177]","[Denver Broncos, Denver Broncos, Denver Broncos]"
1,56be4db0acb8001400a502ed,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,"[249, 249, 249]","[Carolina Panthers, Carolina Panthers, Carolin..."
2,56be4db0acb8001400a502ee,Super_Bowl_50,Super Bowl 50 was an American football game to...,Where did Super Bowl 50 take place?,"[403, 355, 355]","[Santa Clara, California, Levi's Stadium, Levi..."
3,56be4db0acb8001400a502ef,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team won Super Bowl 50?,"[177, 177, 177]","[Denver Broncos, Denver Broncos, Denver Broncos]"
4,56be4db0acb8001400a502f0,Super_Bowl_50,Super Bowl 50 was an American football game to...,What color was used to emphasize the 50th anni...,"[488, 488, 521]","[gold, gold, gold]"

In [26]:
df_dataset.describe()

,id,title,context,question,answer_start,answer_text
count,10570,10570,10570,10570,10570,10570
unique,10570,48,2067,10533,5800,9543
top,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,What shape are granal thylakoids?,"[0, 0, 0]","[two, two, two]"
freq,1,810,30,2,130,22

In [33]:
columns = ['context', 'question']
for column in columns:
    s = df_dataset[column].str.len()
    print(f"Tamanho de {column}")
    print(s.describe().apply("{0:.2f}".format))

Tamanho de context
count    10570.00
mean       778.98
std        350.70
min        157.00
25%        574.00
50%        703.00
75%        914.00
max       4063.00
Name: context, dtype: object
Tamanho de question
count    10570.00
mean        59.98
std         21.16
min         12.00
25%         45.00
50%         57.00
75%         72.00
max        197.00
Name: question, dtype: object

In [ ]:
'answer_text'