## Explore Squad v1.1

In [2]:
import os
import sys
sys.path.append(os.path.abspath('.'))
sys.path.append(os.path.abspath(r'./.'))

In [38]:
%pwd

'/home/borela/fontes/exqa-complearning'

In [39]:
%cd ../..

/home/borela

In [40]:
import pandas as pd

In [41]:
import importlib
importlib.reload(squad_related)

In [42]:
dataset_en =squad_related.carregar_squad_1_1('en')

Using custom data configuration default-d2cdb99fa46933e9
Reusing dataset json (/home/borela/.cache/huggingface/datasets/json/default-d2cdb99fa46933e9/0.0.0/da492aad5680612e4028e7f6ddc04b1dfcec4b64db470ed7cc5f2bb265b9b6b5)
100%|██████████| 1/1 [00:00<00:00, 913.19it/s]

In [44]:
dataset_en.dataset[0]

{'id': '56be4db0acb8001400a502ec',
 'title': 'Super_Bowl_50',
 'context': 'Super Bowl 50 was an American football game to determine the champion of the National Football League (NFL) for the 2015 season. The American Football Conference (AFC) champion Denver Broncos defeated the National Football Conference (NFC) champion Carolina Panthers 24–10 to earn their third Super Bowl title. The game was played on February 7, 2016, at Levi\'s Stadium in the San Francisco Bay Area at Santa Clara, California. As this was the 50th Super Bowl, the league emphasized the "golden anniversary" with various gold-themed initiatives, as well as temporarily suspending the tradition of naming each Super Bowl game with Roman numerals (under which the game would have been known as "Super Bowl L"), so that the logo could prominently feature the Arabic numerals 50.',
 'question': 'Which NFL team represented the AFC at Super Bowl 50?',
 'answer_start': [177, 177, 177],
 'answer_text': ['Denver Broncos', 'Denver Broncos', 'Denver Broncos']}

In [43]:
dataset_en.df.head()

,id,title,context,question,answer_start,answer_text
0,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,"[177, 177, 177]","[Denver Broncos, Denver Broncos, Denver Broncos]"
1,56be4db0acb8001400a502ed,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,"[249, 249, 249]","[Carolina Panthers, Carolina Panthers, Carolin..."
2,56be4db0acb8001400a502ee,Super_Bowl_50,Super Bowl 50 was an American football game to...,Where did Super Bowl 50 take place?,"[403, 355, 355]","[Santa Clara, California, Levi's Stadium, Levi..."
3,56be4db0acb8001400a502ef,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team won Super Bowl 50?,"[177, 177, 177]","[Denver Broncos, Denver Broncos, Denver Broncos]"
4,56be4db0acb8001400a502f0,Super_Bowl_50,Super Bowl 50 was an American football game to...,What color was used to emphasize the 50th anni...,"[488, 488, 521]","[gold, gold, gold]"

In [26]:
dataset_en.df.describe()

,id,title,context,question,answer_start,answer_text
count,10570,10570,10570,10570,10570,10570
unique,10570,48,2067,10533,5800,9543
top,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,What shape are granal thylakoids?,"[0, 0, 0]","[two, two, two]"
freq,1,810,30,2,130,22

In [33]:
dataset_en =squad_related.carregar_squad_1_1('en')
columns = ['context', 'question']
for column in columns:
    s = dataset_en.df[column].str.len()
    print(f"Tamanho de {column}")
    print(s.describe().apply("{0:.2f}".format))

Tamanho de context
count    10570.00
mean       778.98
std        350.70
min        157.00
25%        574.00
50%        703.00
75%        914.00
max       4063.00
Name: context, dtype: object
Tamanho de question
count    10570.00
mean        59.98
std         21.16
min         12.00
25%         45.00
50%         57.00
75%         72.00
max        197.00
Name: question, dtype: object